<!-- Jumbotron -->
<div class='jumbo-wrapper'>
  <div class='container'>
    <div class='jumbotron'>
      <!-- <h3 class='quote-1'>This is where</h3> -->
      <!-- <h3 class='quote-2'>a beautiful, handwritten quotes goes</h3> -->
    </div>
  </div>
</div>


<section class='headline'>
  <div class="container">
    <div class='row'>
      <div class='col-xs-12'>
        <h1>
          <strong>Emily Rose Walsh</strong> is a coloratura soprano based in Boston, Massachusetts.  She is dedicated to reaching new audiences through educational, interactive performances.
        </h1>
      </div>
    </div>
  </div>
</section>


<section class='about'>
  <div class="container">
    <div class='row'>
      <div class='col-xs-12'>
        <h2 class='section-header'>About Emily</h2>
      </div>
      <div class='col-md-4 hidden-sm hidden-xs'>
        <img src='images/headshot.jpg' class='img img-rounded img-responsive'>
      </div>
      <div class='col-md-8'>
        <p>
          <strong>Emily Rose Walsh</strong> is a coloratura soprano dedicated to the reestablishment of classical music and opera as arts for all audiences.  In 2014, she attended the Franco-American Vocal Academy in Paris and Périgueux, France, where she appeared as Parthénis in La Belle Hélène, as well as Eurydice in the “Fly Duet” from Orphée aux Enfers, and in numerous recitals.  She also appeared as the Queen of the Night in Boston College’s 2011 production of The Magic Flute, and in scenes as Marie in The Daughter of the Regiment and Fiametta in The Gondoliers.  Recital programs have included Britten's On This Island, Debussy's Quatre Chansons de Jeunesse, and intensive studies of works by Poulenc, Schubert, and Copland.
        </p>

        <p>
          Emily's mission to present classical music as an accessible art form is heavily influenced by her experience working as the special assistant to the late Charles Ansbacher, who devoted his career to public outreach on behalf of classical music.  From her work in both arts administration and the social sector, Emily understands the tremendous need for revitalization within America’s classical music industry, as well as the significant challenges faced by arts organizations in attracting new audiences.  She applies her experience by developing innovative performance practices, proactively engaging audiences, and collaborating with musicians who share her passion for this endeavor.
        </p>

        <p>
          Originally from West Hartford, Connecticut, Emily has received degrees from Boston College and the Longy School of Music.  She currently studies with Carol Mastrodomenico.
        </p>

      </div>
    </div>
  </div>
</section>



<%= erb :music %>



<%= erb :videos %>



<footer>
  <div class='row'>
    <div class='col-xs-12'>
      <h4 class='text-center'>
        For news and upcoming engagements, follow Emily on <a href='#'>Facebook</a> and <a href='#'>Twitter</a>!
      </h4>
      <h4 class='text-center'>
        For bookings and more information, contact <a href='#'>email@emilyrosewalsh.com</a>.
      </h4>
      <p class='text-right'>
        Website by <a href='https://www.adamkinson.com'>Adam Kinson</a>
      </p>
    </div>
  </div>
</footer>