<section class='music'>
  <div class="container">

    <div class='row'>
      <div class='col-xs-12'>
        <h2 class='section-header'>Music</h2>
      </div>
    </div>

    <div class='row'>
      <div class='col-xs-12'>
        <div class="panel-group" id="accordion-music" role="tablist" aria-multiselectable="true">


          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion-music" href="#music-one" aria-expanded="true" aria-controls="music-one">
                  Suleika I, Franz Schubert
                </a>
              </h4>
            </div>
            <div id="music-one" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/267210344&amp;color=b0cee4&amp;auto_play=false&amp;buying=false&amp;liking=false&amp;download=false&amp;sharing=false&amp;show_artwork=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false"></iframe>
                Recorded live on October 6, 2013
              </div>
            </div>
          </div>
        

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-music" href="#music-two" aria-expanded="false" aria-controls="music-two">
                  Twelve Poems of Emily Dickinson: 9. I Felt a Funeral in my Brain, Aaron Copland
                </a>
              </h4>
            </div>
            <div id="music-two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/267210343&amp;color=b0cee4&amp;auto_play=false&amp;buying=false&amp;liking=false&amp;download=false&amp;sharing=false&amp;show_artwork=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false"></iframe>
                Recorded live on October 6, 2013
              </div>
            </div>
          </div>


          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-music" href="#music-three" aria-expanded="false" aria-controls="music-three">
                  Duex Poemes de Louis Aragon - C, Francis Poulenc
                </a>
              </h4>
            </div>
            <div id="music-three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/267210342&amp;color=b0cee4&amp;auto_play=false&amp;buying=false&amp;liking=false&amp;download=false&amp;sharing=false&amp;show_artwork=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false"></iframe>
                Recorded live on October 6, 2013
              </div>
            </div>
          </div>


          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-music" href="#music-four" aria-expanded="false" aria-controls="music-four">
                  In Stiller Nacht, Johannes Brahms
                </a>
              </h4>
            </div>
            <div id="music-four" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/267210340&amp;color=b0cee4&amp;auto_play=false&amp;buying=false&amp;liking=false&amp;download=false&amp;sharing=false&amp;show_artwork=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false"></iframe>
                Recorded live on April 23, 2011
              </div>
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>
</section>