<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Emily Rose Walsh, Soprano</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">        
      <ul class="nav navbar-nav navbar-right">
        <li class='text-center'><a href="#">Home</a></li>
        <li class='text-center'><a href="#about">About</a></li>
        <li class='text-center'><a href="#music">Music</a></li>
        <li class='text-center'><a href="#videos">Video</a></li>
        <li class='text-center'>
          <ul class='list-inline'>
            <li>
              <a target="_blank" href='https://twitter.com/emilyrosewalsh1'><img height='42px' src="images/TwitterLogo_white.png"></a>        
            </li>
            <li>
              <a target="_blank" href='https://www.youtube.com/playlist?list=PLmFdftBnPiQdv0fBjvrimWg_22fVmc7zq'><img height='42px' src="images/YouTube-logo-light.png"></a>
            </li>
            <li>
              <a target="_blank" href='https://www.facebook.com/emilyrosewalsh'><img height='42px' src="images/FB-f-Logo__white_50.png"></a>         
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>