<a name='videos'></a>
<section class='videos'>
  <div class="container">
    <div class='row'>
      <div class='col-xs-12'>
        <h2 class='section-header'>Video</h2>
      </div>
    </div>

    <div class='row'>
      <div class='col-xs-12'>
        <div class="panel-group" id="accordion-video" role="tablist" aria-multiselectable="false">

          <%= partial(:video, collection: @videos) %> 
    
        </div>

      </div>
    </div>

  </div>
</section>