body {
}

.navbar {
  padding-top: 8px;
}

.navbar-default {
  background-color: #b0cee4;
  border: none;
}

/*
.navbar-default .navbar-brand {
  font-size: 36px;
}

.navbar-default .navbar-nav>li>a {
  font-size: 16px;
}
*/

section {
  padding-top: 70px;
}


.jumbo-wrapper {
  padding-top: 70px;
  background-color: #b0cee4;
}

.jumbotron {
  height: 600px;
  margin-bottom: 0;
  background-image: url(/images/jumbo1_1.png);
  background-size: cover;
  background-position: 70% 50%;
}

.quote-1, .quote-2 {
  font-size: 60px;
}

.quote-1 {
  /*position: relative;*/
  /*top: 50%;*/
}
.quote-2 {

}

.headline {
  background-color: #b0cee4;
}


.headline h1 {
  font-size: 28px;
  padding-top: 1em;
  padding-bottom: 1em;
}


section {
  padding-bottom: 24px;
}


.section-header {
  font-size: 60px;
  margin-bottom: 20px;
}


.about, .videos {
  background-color: #ddd;
}


.music {
  background-color: #b0cee4;
}


.about p {
  font-size: 18px;
}


.panel-group .panel+.panel {
    margin-top: 0px;
}

footer {
  padding: 40px;
  padding-bottom: 10px;
  background-color: #b0cee4;
}

footer p {
  margin-top: 20px;
}